*{
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}
/* MENU */
header{
    background-color: #f8f9fa;
}

header img{
    width: 9%;
}

header .navbar-brand{
    font-size: 24px;
}
/* Conteúdos */

/* Textos */
h1{
    color:#335eea;
}

h1 span{
    font-size: 21px;
    color:#000;
}

section p{
    font-size: 17px;
}

.blue-color{
    color:#007bff
}

/* Efeitos */
.btn-effect{
    transition: .4s;
}
.btn-effect:hover{
    transform: translate3d(0,-3px,0);
    box-shadow: 2px 3px 8px 2px #ccc;
    transition: .4s;
}

/* Tamanho */
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}

/* Alinhamento */
.picture-center{
    display: block;
    margin: 0 auto;
}

/* Animação */

.foguete{
    animation: flip 4s infinite alternate;
    /* transform: rotateX(100deg); */
}

@keyframes flip {
    0% {transform: rotateY(0deg);}
    50% { transform: rotateZ(3deg);}
    100% {transform: rotateY(28deg);}
}

/* Backgrounds */
.bg-black{
    background: #000;
}

.bg-black p{
    color: #FFF;
}
/* CARDS */
.card .card__content{
    background-color: #000;
    color: #FFF;
    border-radius: 6px;
    padding: 51px;
}

.card .card__rounded{
    border-radius: 50%;
    width: 107px;
    height: 103px;
    border: 1px solid #007bff;
    background: #007bff;
    margin: 0px auto;
}

.card__content:hover .card__rounded-orange{border: 1px solid #e96227;background: #e96227;transition:.4s;}
.card__content:hover .card__rounded-blue{border: 1px solid #254bdd;background: #254bdd;transition:.4s;}
.card__content:hover .card__rounded-light-blue{border: 1px solid #5ed3f3;background: #5ed3f3;transition:.4s;}
.card__content:hover .card__rounded-yellow{border: 1px solid #e9ba25;background: #e9ba25;transition:.4s;}
.card__content:hover .card__rounded-purple{border: 1px solid #6f42c1;background: #6f42c1;transition:.4s;}
.card__content:hover .card__rounded-purple2{border: 1px solid #7377ad;background: #7377ad;transition:.4s;}
.card__content:hover .card__rounded-yellow-blue{border: 1px solid linear-gradient(to right bottom, #2a7aac, #009bb3, #00b696, #8cc869, #f3cc57);;background: linear-gradient(to right bottom, #2a7aac, #009bb3, #00b696, #8cc869, #f3cc57);;transition:.4s;}
.card__content:hover .card__rounded-gray{border: 1px solid #4b4b4b;background: #4b4b4b;transition:.4s;}

.card .card__rounded i{
    margin-top: 19px;
}

.card .card__text{
    margin-top: 31px;
}

.card .card__padding-none{
	padding: 0px;
}

.card .card__btn{
	background: #222227;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding: 2px 62px;
    border-radius: 3px;
}
.card__btn:hover{
	opacity: 0.8;
}
/* Footer */
footer p > a {
    background-color: #17161d;
    padding: 11px 39px;
    letter-spacing: 1px;
    border-radius: 20px;
    color: #fefbfb;
    font-size: 17px;
    text-decoration: none;
}
footer p > a:hover {color:#fff; text-decoration: none;}

/*social media 3D*/
.social3D__container{
	padding: 2.5rem 0;
}

.social3D{
	display: flex;
	justify-content: center;
	grid-gap: 100px;
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
}
.social3D .social3D__icons{
	display: flex;
	align-items: center;
	justify-content: center;
}
.social3D .social3D__icons .fab{
	font-size: 40px;
	color: #fff;
	line-height: 80px;
	transition: .5s;
}
.social3D .social3D__icons a{
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	background-color: #fff;
	text-align: center;
	transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
	transition: .5s;
	box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
	background-clip: padding-box;
}
.social3D .social3D__icons a::before{
	content: "";
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewY(-45deg);
	background-clip: padding-box;
}
.social3D .social3D__icons a::after{
	content: "";
	position: absolute;
	top: 80px;
	left: -11px;
	height: 20px;
	width: 100%;
	background: #b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewX(-45deg);
	background-clip: padding-box;
}

.social3D .social3D__icons .linkedin,
.social3D .social3D__icons .linkedin::before,
.social3D .social3D__icons .linkedin::after {
	background-color: #4267B2;
}

.social3D .social3D__icons .github,
.social3D .social3D__icons .github::before,
.social3D .social3D__icons .github::after {
	background-color:  #5f2283;
}
.social3D .social3D__icons:hover a{
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social3D .social3D__icons:hover .fab{
	color: #fff;
}
.social3D .social3D__icons a:hover{
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social3D .social3D__icons:hover .twitter,
.social3D .social3D__icons:hover .twitter::before,
.social3D .social3D__icons:hover .twitter::after {
	background-color: #1DA1F2;
}
.social3D .social3D__icons:hover .instagram,
.social3D .social3D__icons:hover .instagram::before,
.social3D .social3D__icons:hover .instagram::after {
	background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
.social3D .social3D__icons:hover .linkedin,
.social3D .social3D__icons:hover .linkedin::before,
.social3D .social3D__icons:hover .linkedin::after {
	background-color: #4267B2;
}
.social3D .social3D__icons:hover .youtube,
.social3D .social3D__icons:hover .youtube::before,
.social3D .social3D__icons:hover .youtube::after {
	background-color: #FF0000;
}
.social3D .social3D__icons:hover .facebook,
.social3D .social3D__icons:hover .facebook::before,
.social3D .social3D__icons:hover .facebook::after {
	background-color: #4267B2;
}
@media only screen and (max-width: 767px){
	.social3D{
		grid-gap: 30px;
	}
	.social3D .social3D__icons a {
		width: 35px;
		height: 35px;
	}
	.social3D .social3D__icons a::before {
		top: 10px;
		left: -20px;
		height: 100%;
		width: 20px;
	}
	.social3D .social3D__icons a::after {
		top: 35px;
		left: -10px;
		height: 20px;
		width: 100%;
	}
	.social3D .social3D__icons .fab {
		font-size: 20px;
		line-height: 38px;
	}
}

@media only screen and (max-width: 426px){
  footer div a{
    padding: 6px 9px;
    font-size: 1.9rem;
  }
}
/*end social media 3D*/
.icon-react{
	width: 85px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}
